/* ---------- root variables ---------- */
:root {
  --black: #583953;
  --white: #F9F8F8;
  --peach-light: #F7EFEB;
  --peach: #FBE1D5;
  --peach-dark: #FFAC85;
}

/* ---------- general styling ---------- */



html,
body {
  max-width: 400px;
  max-height: 900px;
  margin: 0 auto;
  background-color: var(--peach-light);
}


p {
  font-family: urbane-rounded, sans-serif;
  font-weight: 500;
  font-style: normal;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 1.5em;
  letter-spacing: 2.5em;
  font-family: urbane-rounded, sans-serif;
  font-weight: 600;
  text-transform: none;
}

h2 {
  font-size: 1.25em;
  font-family: urbane-rounded, sans-serif;
  font-weight: 600;
  text-transform: none;
}

h3 {
  font-size: 1em;
  letter-spacing: 2.5em;
  font-family: urbane-rounded, sans-serif;
  font-weight: 500;
  text-transform: none;
}

h4 {
  font-size: 0.8em;
  letter-spacing: 2em;
  font-family: urbane-rounded, sans-serif;
  font-weight: 500;
  text-transform: none;
}

h5 {
  font-size: 0.75em;
  font-family: urbane-rounded, sans-serif;
  font-weight: 300;
  text-transform: none;
  margin: -5px 0;
}

h6 {
  font-size: 0.5em;
  font-family: urbane-rounded, sans-serif;
  font-weight: 500;
  text-transform: none;
}

img {
  width: 100%;
  height: auto;
}


/* ---------- topbar styling ---------- */
.topbar {
  background-color: var(--green);
  color: var(--text-color-light);
  padding: 13.5px;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.topbar h2 {
  margin: 0;
  font-weight: 400;
}

.topbar a {
  text-decoration: none;
  color: var(--text-color-light);
  position: absolute;
  top: 20px;
}

.topbar a.left {
  left: 35px;
  top: 28px;
}


.topbar a.right {
  right: 20px;
}

/* ---------- tabbar styling ---------- */
.tabbar {
  background-color: #FAFAFA;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  box-shadow: 0px 40px 99px #AFADAD;
  border-radius: 35px 35px 0 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* Style the links inside the navigation bar */
.tabbar {
  text-align: center;
  padding: 20px 16px 14px 16px;
  text-decoration: none;
}

/* Change the color of links on hover */
.tabbar a:hover {
  background-color: var(--light-grey);
  color: var(--text-color-dark);
}

/* Add a color to the active/current link */
.tabbar a.active {
  color: var(--peach-dark);
  fill: var(--peach-dark);
}

.active path {
  fill: var(--peach-dark);
}

.nav-link {
  font-size: 0.5em;
  font-family: urbane-rounded, sans-serif;
  font-weight: 300;
  color: #D2CDC6;
  display: block;
}

svg {
  fill: #d2cdc6;
}

svg {
  margin: 0 auto;
}

.menu-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 9%;
}


/* ---------- page styling ---------- */
.page {
  display: none;
  /*min heigh is screen heigh minus height of tab and top bar */
  min-height: calc(100vh - 110px);
  background: var(--light-grey);
  animation: fadeIn 0.4s;
  /* padding equals height of tabbar and topbar */
  padding: 55px 0;
}

/* ---------- logo styling ---------- */
.logo {
  margin: 2em auto;
  width: 100%;
  max-width: 300px;
}



/* ---------- input form styling - Marius ---------- */

button {
  font-size: 1em;
  font-family: urbane-rounded, sans-serif;
  font-weight: 500;
  padding: 0.6em 6.25em;
  background-color: var(--peach-dark);
  color: var(--white);
  border-radius: 50px;
  border: 0px;
  width: 100%;
  max-width: 271px;
  margin: 1em auto;
}

input {
  font-size: 1em;
  font-family: urbane-rounded, sans-serif;
  font-weight: 500;
  background-color: transparent;
  padding: 1em 1.2em;
  color: var(--black);
  font-size: 0.75em;
  font-weight: 300;
  border-radius: 50px;
  border: 1px solid var(--black);
  width: 100%;
  max-width: 271px;
  margin: 1em auto;
  box-sizing: border-box;
  display: block;
}

/* Favorites tab - Marius */

.favorites-text-container {
  width: 78%;
  text-align: center;
  margin: 0 auto;
}

.favorites-wrapper {
  background-color: var(--white);
  height: 731px;
  margin: 25px 0 0 0;
  border-radius: 44px 44px 0 0;
}

.favorites-container {
  margin: 0 auto;
  width: 78%;
  padding-top: 35px;
}

.favorites-select {
  color: var(--black);
  font-size: 0.75em;
  font-weight: 500;
  text-transform: none;
  padding: 5px 25px 5px 15px;
  /* width: 135px;
  height: 25px; */
  border-radius: 7px;
  border: 0px;
  background: url("../img/icons/Icon\ awesome-arrow-down.svg") no-repeat right;
  background-color: var(--peach);
  -webkit-appearance: none;
  background-position-x: 102px;
}

option {
  color: var(--black);
  font-size: .75em;
  border-radius: 7px;
  border: 0px;

}

select:focus {
  color: #A98C93;
}





/* End of favorites tab */

/*media query for larger screens*/

/*

html,
body {
  max-width: 400px;
  max-height: 800px;
  margin: 0 auto;
  margin-top: -50px;
  background-color: var(--peach-light);
  overflow-x: auto;
  overflow-y: auto;
}

body::-webkit-scrollbar {
  width: 10px;               
}

body::-webkit-scrollbar-track {
  background: var(--peach-light);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--peach-dark);
  border-radius: 20px; 
  border: 3px solid var(--peach); 
}

.topbar a {
  text-decoration: none;
  color: var(--text-color-light);
  position: static;
  top: 20px;
}

.topbar {
  background-color: var(--green);
  color: var(--text-color-light);
  padding: 13.5px;
  text-transform: uppercase;
  position: static;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.tabbar {
  background-color: #FAFAFA;
  position: sticky;
  top: 730px;
}


*/